#u97
{
	border-style: none;
	background-color: #000000;
	position: relative;
}

#u160-4
{
	border-style: solid;
	border-color: #7F7F7F;
	background-color: transparent;
	color: #FFFFFF;
	font-size: 10px;
	position: relative;
	border-width: 0px 1px 0px 0px;
}

#u161-4
{
	border-style: none;
	background-color: transparent;
	color: #FFFFFF;
	font-size: 10px;
	position: relative;
}

#u160-4:hover p,#u161-4:hover p
{
	color: #FFFF00;
	visibility: inherit;
}

#u175
{
	border-style: none;
	position: relative;
	background: transparent url("../images/u175-fr.png") no-repeat left top;
}

#u84
{
	background-image: none;
	border-style: none;
	background-color: #FFFFFF;
	position: relative;
}

#u76
{
	border-style: none;
	position: relative;
	background: transparent url("../images/u76-fr.png") no-repeat left top;
}

#u85-4:hover
{
	background-color: #7F7F7F;
	background-color: rgba(127, 127, 127, 0.15);
	-pie-background: rgba(127, 127, 127, 0.15);
}

#u86-4:hover
{
	background-color: #7F7F7F;
	background-color: rgba(127, 127, 127, 0.15);
	-pie-background: rgba(127, 127, 127, 0.15);
}

#u87-4:hover
{
	background-color: #7F7F7F;
	background-color: rgba(127, 127, 127, 0.15);
	-pie-background: rgba(127, 127, 127, 0.15);
}

#u91-4:hover
{
	background-color: #7F7F7F;
	background-color: rgba(127, 127, 127, 0.15);
	-pie-background: rgba(127, 127, 127, 0.15);
}

#u85-4,#u86-4,#u87-4,#u91-4,#u93-4
{
	border-style: solid;
	border-color: #7F7F7F;
	background-color: transparent;
	letter-spacing: -1px;
	color: #000000;
	font-size: 14px;
	position: relative;
	border-width: 0px 1px 0px 0px;
}

#u86-4 {
    border-width: 0px;
}

#u93-4:hover
{
	background-color: #7F7F7F;
	background-color: rgba(127, 127, 127, 0.15);
	-pie-background: rgba(127, 127, 127, 0.15);
}

#u95-4
{
	border-style: none;
	background-color: transparent;
	letter-spacing: -1px;
/*	color: #0000FF;*/
        color: #000000;
	font-size: 14px;
	position: relative;
}

#u95-4:hover
{
	background-color: #7F7F7F;
	background-color: rgba(127, 127, 127, 0.15);
	-pie-background: rgba(127, 127, 127, 0.15);
}

#u153
{
	border-width: 1px;
	border-style: solid;
	border-color: #000000;
	position: relative;
	background: transparent url("../images/tmpyvg7yf.jpg") no-repeat center center;
}

#u430-4
{
	color: #FFFF00;
	font-weight: bold;
	font-size: 36px;
	position: relative;
}

#u272
{
	border-style: none;
	position: relative;
	background: transparent url("../images/vimeo01.png") no-repeat center center;
}

#u272:hover
{
	background-image: url("../images/vimeo02.png");
	background-repeat: no-repeat;
	background-position: center center;
}

#u285
{
	border-style: none;
	position: relative;
	background: transparent url("../images/facebook01.png") no-repeat center center;
}

#u285:hover
{
	border-style: none;
	background-image: url("../images/facebook02.png");
	background-repeat: no-repeat;
	background-position: center center;
}

#u298
{
	border-style: none;
	position: relative;
	background: transparent url("../images/twitter01.png") no-repeat center center;
}

#u298:hover
{
	border-style: solid;
	background-image: url("../images/twitter02.png");
	background-repeat: no-repeat;
	background-position: center center;
	border-width: 0px;
}

#u466-20
{
	border-style: none;
	background-color: #FFFFFF;
	color: #000000;
	position: relative;
}

#u466-20:hover
{
	background-color: #7F7F7F;
	background-color: rgba(127, 127, 127, 0.15);
	-pie-background: rgba(127, 127, 127, 0.15);
}

#u467-20:hover
{
	background-color: #7F7F7F;
	background-color: rgba(127, 127, 127, 0.15);
	-pie-background: rgba(127, 127, 127, 0.15);
}

#u468-20:hover
{
	background-color: #7F7F7F;
	background-color: rgba(127, 127, 127, 0.15);
	-pie-background: rgba(127, 127, 127, 0.15);
}

#u469-12:hover
{
	background-color: #7F7F7F;
	background-color: rgba(127, 127, 127, 0.15);
	-pie-background: rgba(127, 127, 127, 0.15);
}

#u467-20,#u468-20,#u469-12,#u470-12
{
	border-style: none;
	background-color: transparent;
	color: #000000;
	position: relative;
}

#u470-12:hover
{
	background-color: #7F7F7F;
	background-color: rgba(127, 127, 127, 0.15);
	-pie-background: rgba(127, 127, 127, 0.15);
}

#u471-4:hover
{
	background-color: #7F7F7F;
	background-color: rgba(127, 127, 127, 0.15);
	-pie-background: rgba(127, 127, 127, 0.15);
}

#u471-4,#u472-4
{
	border-style: none;
	background-color: transparent;
	color: #000000;
	letter-spacing: -1px;
	font-size: 14px;
	font-weight: bold;
	position: relative;
}

#u472-4:hover
{
	background-color: #7F7F7F;
	background-color: rgba(127, 127, 127, 0.15);
	-pie-background: rgba(127, 127, 127, 0.15);
}

#u465
{
	border-style: none;
	background-color: #FFFFFF;
	position: relative;
}

#u465:hover
{
	background-color: #7F7F7F;
	background-color: rgba(127, 127, 127, 0.15);
	-pie-background: rgba(127, 127, 127, 0.15);
}

#u484
{
	position: relative;
}

#u145
{
	border-style: none;
	position: relative;
	background: transparent url("../images/cms.gif") no-repeat left center;
}

#u474
{
	border-width: 1px;
	border-style: solid;
	border-color: #7F7F7F;
	background-color: transparent;
	position: relative;
}

#u474_img
{
	vertical-align: top;
}

#u479
{
	border-width: 1px;
	border-style: solid;
	border-color: #7F7F7F;
	background-color: #FFFFFF;
	position: relative;
}

#u483-4
{
	color: #7F7F7F;
	font-size: 11px;
	position: relative;
}

#u98
{
	border-style: none;
	position: relative;
	background: transparent url("../images/u98-fr.png") no-repeat center center;
}

#u160-4:hover,#u161-4:hover,#u98.MuseLinkActive
{
	background-color: transparent;
}

#u466-2,#u466-2,#u466-2,#u466-2,#u467-2,#u467-2,#u467-2,#u467-2,#u468-2,#u468-2,#u468-2,#u468-2,#u469-2,#u469-2,#u469-2,#u469-2,#u470-2,#u470-2,#u470-2,#u470-2
{
	font-size: 14px;
	font-weight: bold;
	letter-spacing: -1px;
}

#u466-4,#u466-4,#u466-4,#u466-4,#u466-6,#u466-6,#u466-6,#u466-6,#u466-8,#u466-8,#u466-8,#u466-8,#u466-10,#u466-10,#u466-10,#u466-10,#u466-12,#u466-12,#u466-12,#u466-12,#u466-14,#u466-14,#u466-14,#u466-14,#u466-16,#u466-16,#u466-16,#u466-16,#u466-18,#u466-18,#u466-18,#u466-18,#u467-4,#u467-4,#u467-4,#u467-4,#u467-6,#u467-6,#u467-6,#u467-6,#u467-8,#u467-8,#u467-8,#u467-8,#u467-10,#u467-10,#u467-10,#u467-10,#u467-12,#u467-12,#u467-12,#u467-12,#u467-14,#u467-14,#u467-14,#u467-14,#u467-16,#u467-16,#u467-16,#u467-16,#u467-18,#u467-18,#u467-18,#u467-18,#u468-4,#u468-4,#u468-4,#u468-4,#u468-6,#u468-6,#u468-6,#u468-6,#u468-8,#u468-8,#u468-8,#u468-8,#u468-10,#u468-10,#u468-10,#u468-10,#u468-12,#u468-12,#u468-12,#u468-12,#u468-14,#u468-14,#u468-14,#u468-14,#u468-16,#u468-16,#u468-16,#u468-16,#u468-18,#u468-18,#u468-18,#u468-18,#u469-4,#u469-4,#u469-4,#u469-4,#u469-6,#u469-6,#u469-6,#u469-6,#u469-8,#u469-8,#u469-8,#u469-8,#u469-10,#u469-10,#u469-10,#u469-10,#u470-4,#u470-4,#u470-4,#u470-4,#u470-6,#u470-6,#u470-6,#u470-6,#u470-8,#u470-8,#u470-8,#u470-8,#u470-10,#u470-10,#u470-10,#u470-10
{
	font-size: 12px;
	font-weight: normal;
	letter-spacing: 0px;
}

