@charset "utf-8";
/* CSS Document */


/*
	root element for the scrollable.
	when scrolling occurs this element stays still.
*/
.scrollable {

	/* required settings */
	position:relative;
	overflow:hidden;
	width: 1164px;
	height:720px;
	margin:auto auto auto 0;

	/* custom decorations */
}

/*
	root element for scrollable items. Must be absolutely positioned
	and it should have a extremely large width to accomodate scrollable items.
	it's enough that you set the width and height for the root element and
	not for this element.
*/
.scrollable .items {
	/* this cannot be too large */
	width:20000em;
	position:relative;
	clear:both;
    height: 700px;
}

.items div {
	float:left;
	width:1142px;
    display: none;
}

/* single scrollable item */
.scrollable img {
	float:left;
	margin:20px 5px 20px 21px;
	padding:2px;
    padding-left: 50px;
	
}

.scrollable img.logo {
	margin:0;
	padding:0;
}

/* active item */
.scrollable .active {
	position:relative;
	cursor:default;
}

#create_index{
	position:absolute;
	top:0px;
	left:0px;
	z-index:1;
	width:250px;
    height: auto;
    padding-left: 0px;
}
#london_index{
	position:absolute;
	bottom: 10px;
	right:10px;
	z-index:1;
	width:114px;
}

#direccion {
    position: absolute;
    color: #7F7F7F;
    bottom: 10px;
    left: 20px;
}
#logos {
	position: absolute;
	color: #7F7F7F;
	bottom: 5px;
	left: 250px;
	width:800px;
}
#facebook_comentarios {
	background-color:#FFF;
	position: absolute;	
	float:right;
	bottom: 100px;
	top:1px;
	right:1px;
	width:250px;
	height:500px;
	overflow:inherit;
}
